<div class="card flex justify-content-center">
  <p-card
    [header]="header"
    [subheader]="subheader"
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        [src]="
          imageUrl || 'https://primefaces.org/cdn/primeng/images/card-ng.jpg'
        "
      />
    </ng-template>
    <p>
      {{ description }}
    </p>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button
          label="Dettagli"
          severity="secondary"
          class="w-full"
          styleClass="w-full"
          [style]="{ outline: '1px solid var(--surface-border)' }"
        />
        <p-button label="Visita" class="w-full" styleClass="w-full" />
      </div>
    </ng-template>
  </p-card>
</div>
