<div
  class="flex flex-column md:flex-row justify-content-center align-items-center gap-4 p-3"
>
  <img
    src="assets/img/IMG_8849.png"
    alt="logo"
    class="w-30rem h-auto mb-3 md:mb-0 md:mr-4"
  />
  <p class="m-0 text-justify">
    Benvenuto/a nel mio spazio, se sei qui probabilmente stai cercando un modo
    per affrontare un momento difficile, una situazione che ti sta pesando o un
    cambiamento che desideri nel tuo percorso di vita.
    <strong>Sappi che non sei solo/a</strong>. La psicoterapia è un viaggio che
    ti permette di guardare dentro di te, esplorare ciò che senti e pensi, e
    trovare nuove risorse per migliorare la tua vita. Ogni individuo è unico, e
    così anche il modo in cui viviamo le nostre emozioni e affrontiamo le nostre
    difficoltà. Tutto ciò che viviamo e sperimentiamo è influenzato non solo
    dagli eventi ma dal modo in cui li vediamo e li interpretiamo. I pensieri
    che alimentiamo spesso determinano le emozioni che proviamo e le azioni che
    compiamo, e talvolta ci tengono lontani dal benessere che desideriamo
    raggiungere. La buona notizia è che ciclo si può interromere!
    <strong>Insieme</strong>, lavoreremo per costruire gli strumenti più adatti
    a te verso il benessere. Che si tratti di ansia, stress, relazioni
    difficili, dipendenze o di una migliore conoscenza di te, il percorso
    psicologico ti offrirà uno spazio sicuro dove potrai essere te stesso/a
    senza <strong>giudizio</strong> e con massima <strong>privacy</strong>.
    Immagina questo percorso come un viaggio verso una meta importante :
    <strong>il tuo benessere</strong>. Ogni passo ti avvicinerà ad una nuova
    visione di te stesso/a e della tua vita. Con il mio
    <strong>ascolto</strong> e <strong>supporto</strong> troveremo insieme la
    tua strada.
  </p>
</div>
