<div class="flex flex-column md:flex-row justify-content-center align-items-center gap-4 mt-3">
  <p class="m-0 text-center">A te che sei qui...</p>
</div>
<div
  class="flex flex-column md:flex-row justify-content-center align-items-center gap-4"
>
  <img
    src="assets/img/IMG_8849.png"
    alt="logo"
    class="w-full max-w-20rem md:max-w-30rem h-auto mb-3 md:mb-0"
  />
  <p class="m-0 text-justify">
    ...ti do il <strong>Benvenuto</strong> in uno spazio sicuro, <br />dove ogni
    tua emozione è ascoltata e ogni difficoltà può essere affrontata, insieme.
  </p>
</div>

<div class="flex flex-column md:flex-row justify-content-center align-items-center gap-4 mb-3">
  <p class="m-0 text-center">
    Non è un segno di debolezza ma di forza, coraggio, amor proprio, chiedere il
    supporto di cui hai bisogno. Non sei senza aiuto.
  </p>
</div>
