<div
  class="flex flex-column md:flex-row justify-content-center align-items-center gap-4"
>
  <img
    src="assets/img/IMG_8849.png"
    alt="logo"
    class="w-full max-w-13rem md:max-w-30rem h-auto md:mb-0"
  />
</div>
<div
  class="flex flex-column md:flex-row justify-content-center align-items-center gap-4"
>
  <p class="m-0 text-size">
    <br />
    A te che sei qui... <br /><br /><br />
    ...ti do il
    <strong><span style="color: var(--text_color)">Benvenuto</span></strong> in
    uno spazio sicuro, <br />dove ogni tua emozione è ascoltata e ogni
    difficoltà può essere affrontata, insieme.
  </p>
</div>

<div
  class="flex flex-column md:flex-row justify-content-center align-items-center gap-4 mb-3 mt-3"
>
  <p class="m-0 text-center text-size">
    Non è un segno di debolezza ma di forza, coraggio, amor proprio, chiedere il
    supporto di cui hai bisogno. <br /><br />Non sei senza aiuto.
  </p>
</div>
