<div class="flex flex-column justify-content-center align-items-center">
  <h1>Servizi</h1>
  <p>
    I servizi che offro si basano su
    <strong
      >ascolto attivo, massima riservatezza e creazione di un rapporto di
      fiducia.</strong
    >
    In particolare mi occupo di supporto psicologico, potenziamento
    dell'autostima e della crescita personale, orientamento professionale e/o
    scolastico e gestione delle emozioni. Specializzata in diagnosi
    psicopatologica e percorso di riabilitazione e/o psicoterapia attraverso
    psicoeducazione, maggiore consapevolezza del sè e nuovi strumenti di
    gestione e fronteggiamento del disagio. In particolare mi occupo di :
  </p>
  
</div>
