@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth text-text bg-secondary;
    /* Prevent horizontal scroll on mobile */
    overflow-x: hidden;
  }

  body {
    @apply font-sans antialiased text-base leading-relaxed;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-bold text-primary;
  }
}
