<div class="flex justify-content-evenly align-items-center">
  <div class="flex flex-column justify-content-center align-items-center">
    <h1>Dott.ssa Frale Ioana</h1>
    <p>
      Sono la Dott.ssa Ioana Frale, <strong>Psicologa</strong> e
      <strong>Psicoterapeuta</strong> ad orientamento cognitivo-comportamentale.
      Ho conseguito la laurea triennale in Scienze e Tecniche Psicologiche a cui
      ha seguito la laurea magistrale in
      <strong>Psicologia Clinica e della Salute</strong> presso l'Università G.
      d'Annunzio di Chieti con voto 110 e Lode. In seguito a varie esperienze di
      tirocinio professionalizzante ed idoneità all'esame di abilitazione,
      avviene l'iscrizione all'<strong
        >Albo degli Psicologi della regione Abruzzo, n. 3682</strong
      >. Il mio percorso di studi prosegue concludendo la scuola quadriennale di
      specializzazione in psicoterapia cognitivo-comportamentale, accompagnata
      da tirocini in contesti pubblici e privati. Attualmente in aggiornamento
      continuo seguendo un approccio basato sull'evidenza scientifica.
    </p>
  </div>
  <div class="flex justify-content-center align-items-center">
    <img src="assets/img/IMG_8849.png" alt="logo"/>
  </div>
</div>
