/* Stili per i contenitori */
:host ::ng-deep .bubble-tooltip {
  max-width: 400px;
  background-color: #3a4249 !important;
  color: white !important;
  padding: 1rem !important;
  border-radius: 8px !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
}

:host ::ng-deep .bubble-tooltip.p-tooltip {
  opacity: 1 !important;
}

:host ::ng-deep .bubble-tooltip .p-tooltip-arrow {
  border-top-color: #3a4249 !important;
  border-bottom-color: #3a4249 !important;
  border-left-color: #3a4249 !important;
  border-right-color: #3a4249 !important;
}

/* Stili per uniformare i contenitori */
.col-12 {
  padding: 1rem;
}

.col-12 > div {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  height: 100%;
}

.text-justify {
  text-align: justify;
  line-height: 1.6;
}
