<div class="flex justify-content-evenly align-items-center">
  <div class="flex justify-content-center align-items-center">
    <img src="assets/img/IMG_8849.png" alt="logo" />
  </div>
  <div class="flex flex-column justify-content-center align-items-center">
    <h2>Mi presento :</h2>
    <p>
      Sono la Dott.ssa Ioana Frale, <strong>Psicologa</strong> e
      <strong>Psicoterapeuta</strong>, iscritta all'Albo dell'Ordine degli
      Psicologi della Regione Abruzzo, sezione A, n. 3682. <br />
      Sono qui per accoglierti, sono pronta ad ascoltarti, supportarti, aiutarti
      a crescere e vedere le cose da un'altra prospettiva. I valori su cui si
      basa il mio lavoro sono <strong>empatia</strong>,
      <strong>ascolto</strong>, <strong>astensione dal giudizio</strong> e
      <strong>massima riservatezza</strong>.
    </p>
  </div>
</div>

<div class="grid">
  <!-- Prima colonna - Biografia -->
  <div class="col-12 lg:col-6 p-3">
    <div
      class="flex flex-column justify-content-start align-items-center h-full"
    >
      <p class="text-justify">
        Il mio interesse per la Psicologia nasce al Liceo Socio Psicopedagogico
        da cui ho conseguito nel 2014 il diploma di maturità presso l'istituto
        statel G. Milli di Teramo. Ho proseguito gli studi conseguendo una prima
        laurea triennale in Scienze e Tecniche Psicologiche nel 2017 presso
        l'Università G. D'Annunzio di Chieti, con una tesi compilativa dal
        titolo "La conclusione del percorso psicoterapeutico : Analisi di alcuni
        contributi".
        <br />
        Nel 2019 presso la medesima Università nel dipartimento di Medicina e
        Scienze della Salute ho conseguito poi una seconda laurea in Psicologia
        Clinica e della Salute con votazione 110/110 e lode con una tesi
        sperimentale condotta presso gli istituti secondari di 1° grado di
        Chieti dal titolo "Analisi del vissuto emotivo, relazionale e corporeo
        nella valutazione del rischio dei DCA in adolescenza : uno studio
        condotto su un campione di adolescenti". <br />
        Dopo un anno di tirocinio formativo svolto a Pescara presso il Centro di
        Psicologia Clinica e Centro di Psicologia Clinica e Psicosomatica ho
        conseguito l'iscrizione all'Albo dell'Ordine degli Psicologi d'Abruzzo
        nel 2022 con il n. A 3682. Nel 2024 presso la scuola di specializzazione
        quadriennale in Psicoterapia, Centro di Psicologia Clinica con sede a
        Pescara, ho conseguito il diploma in
        <span
          [pTooltip]="tooltipContent"
          tooltipPosition="top"
          class="text font-medium underline cursor-pointer"
          (click)="focusElement($event)"
        >
          Psicoterapia ad orientamento Cognitivo Comportamentale </span
        >. <br />
        A completamento del mio curriculum professionale, ho conseguito esami
        nell'ambito dell'insegnamento presso l'Università di Teramo e di
        L'Aquila.
        <br />
        Attualmente la mia formazione è in continuo aggiornamento seguendo un
        approccio basato sull'evidenza scientifica.
      </p>
    </div>
  </div>

  <!-- Seconda colonna - Esperienza professionale -->
  <div class="col-12 lg:col-6 p-3">
    <div
      class="flex flex-column justify-content-start align-items-center h-full"
    >
      <p class="text-justify">
        Nel 2020 ho collaborato con importanti Istitui di Pescara su tematiche
        quali Mindfulness, valutazione diagnostica, testistica, somatizzazione e
        psicosomatica. <br />
        Nell'anno successivo con l'Associazione Percorsi di Pescara, mi sono
        occupata della riabilitazione psico-sociale di utenti fragili con vario
        tipo di disabilità seguendo il protocollo Social Skill Training (SST) e
        la partecipazione a gruppi laboratoriali come l'arte terapia con
        l'utenza psichiatrica (schizzofrenia, depressione maggiore, disturbi
        ossessivi compulsivi...). A seguire, mi sono occupata della gestione e
        del supporto di attività socio-ricreative e psico-educative nel mondo
        della disabilità (sindrome di down, autismo...). Il mio tirocinio in
        Psicoterapia mi ha permesso di avvicinarmi al contesto pubblico, in
        particolare alla ASL (consultorio familiare) in cui mi sono occupata di
        genitorialità, disturbi d'ansia e disfunzioni emozionali. Dal 2021 al
        2025 ho lavorato come docente di Psicologia Generale. <br />
        Dal 2022 sono la Psicologa dell'Associazione "Le Ali Della Vita"
        occupandomi di accompagnare coppie genitoriali all'adozione o affido di
        adolescenti preparandoli dal punto di vista pratico ed emotivo
        attraverso incontri esperienziali di gruppo. Dal 2023 ho avviato
        l'attività clinica online ed in presenza. Dal 2025 lavoro come Psicologa
        scolastica con adolescenti svolgendo sportelli di ascolto psicologico,
        incontri di mentoring, laboratori di gruppo in classe ed orientamento
        scolastico e/o lavorativo.
      </p>
    </div>
  </div>
</div>

<ng-template #tooltipContent>
  <div class="flex align-items-start p-2">
    <span>
      La CBT è un approccio evidence based, che utilizza cioè dati comprovati e
      strategie validate dall'evidenza scientifica. Vengono definiti obiettivi
      chiari e personalizzati, si lavora su pensieri, emozioni e comportamenti
      attraverso tecniche pratiche e mirate. Uno degli strumenti principali è la
      ristrutturazione cognitiva, che aiuta a riconoscere e modificare i
      pensieri disfunzionali che alimentano il disagio. Le strategie utilizzate
      sono ad hoc, pensate per rispondere alle specifiche difficoltà del
      paziente, allo scopo di promuovere cambiamenti concreti e duraturi nel
      tempo.
    </span>
  </div>
</ng-template>
