.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

:host ::ng-deep .p-button {
  background-color: var(--primary_color) !important;
  border-color: var(--primary_color) !important;
  color: var(--text_color) !important;
}

:host ::ng-deep .p-button:hover {
  background-color: var(--green_color) !important;
  border-color: var(--green_color) !important;
  outline: var(--green_color) !important;
}

:host ::ng-deep .p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--green_color), 0 1px 2px 0 black;
}

:host ::ng-deep .p-card {
  color: var(--black_color);
}

:host ::ng-deep .p-inputtext:enabled:hover {
  border-color: var(--green_color);
}

:host ::ng-deep .p-dialog .p-dialog-header {
  color: var(--text_color);
}


:host ::ng-deep .p-card .p-card-body {
  background-color: var(--card_color);
}