.navbar {
  line-height: 0.05 !important;
}

a {
  color: var(--black_color);
  text-decoration: none;
}

.item {
  padding: 0.1rem 0.5rem;
  margin: 0.2rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.item:hover {
  border-color: var(--black_color);
  color: var(--black_color);
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.sub-navbar {
  background-color: rgb(246, 231, 218);
}

.sub-navbar a {
  text-decoration: none;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

li a,
i {
  color: var(--black_color);
  font-size: 1.3rem;
  gap: 10px;
}

img {
  border-radius: 50%;
}

/* Nel tuo file CSS */
@media (max-width: 767px) {
  .menu-transition {
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }
  
  .menu-transition.show {
    max-height: 500px; /* Altezza sufficiente per contenere tutti gli elementi */
  }
}