.navbar {
  line-height: 0.05 !important;
}

a {
  text-decoration: none;
  color: var(--black_color);
  position: relative;
  transition: all 0.3s ease;
  padding: 0 2px;
  cursor: grab;
}

a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--black_color);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

a:hover::after {
  width: 100%;
}

.active {
  border: 1px solid var(--black_color);
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  transition: all 0.3s ease;
}

.sub-navbar {
  background-color: rgb(246, 231, 218);
}

.sub-navbar a {
  text-decoration: none;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid transparent;
}

li a,
i {
  color: var(--black_color);
  font-size: 1.3rem;
  gap: 10px;
}

img {
  border-radius: 50%;
}

/* Nel tuo file CSS */
@media (max-width: 767px) {
  .menu-transition {
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  .menu-transition.show {
    max-height: 500px; /* Altezza sufficiente per contenere tutti gli elementi */
  }
}
