<div
  class="w-full py-3"
  style="background-color: rgb(246, 231, 218)"
  *ngIf="!isContactPage"
>
  <div class="container">
    <div class="grid">
      <!-- Prima colonna (sinistra) -->
      <div
        class="col-12 md:col-6 md:pr-3 relative flex justify-content-center md:justify-content-start"
      >
        <ul
          class="list-none p-0 mx-auto md:mx-0 m-0"
          style="max-width: fit-content"
        >
          <li
            class="flex align-items-center gap-3 mb-2"
            style="cursor: default"
          >
            <i class="pi pi-map-marker"></i>
            <p class="m-0">
              Via Giuseppe Urbani, 10 - 64046 Montorio al Vomano TE
            </p>
          </li>
          <li class="flex align-items-center gap-3">
            <i class="pi pi-phone"></i>
            <a href="tel:+39 3286739086" class="no-underline">
              <p class="m-0">+39 3286739086</p>
            </a>
          </li>
        </ul>
        <!-- Linea separatrice verticale (visibile solo su schermi md in su) -->
        <div
          class="hidden md:block absolute top-0 bottom-0 right-0 w-0 border-right-1"
        ></div>
      </div>

      <!-- Seconda colonna (destra) -->
      <div
        class="col-12 md:col-6 md:pl-3 flex justify-content-center md:justify-content-start"
      >
        <ul
          class="list-none p-0 mx-auto md:mx-0 m-0"
          style="max-width: fit-content"
        >
          <li class="flex align-items-center gap-3 mb-2">
            <i class="pi pi-whatsapp"></i>
            <a href="#" class="no-underline" (click)="openWhatsApp($event)">
              <p class="m-0">Contattami su WhatsApp</p>
            </a>
          </li>
          <li class="flex align-items-center gap-3">
            <i class="pi pi-envelope"></i>
            <a href="#" class="no-underline" (click)="openEmail($event)">
              <p class="m-0">{{ contactInfo.email }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div
  class="footer w-full flex justify-content-center align-items-center text-center"
>
  <p>
    © 2025 Dott.ssa Ioana Frale | C.F./P.IVA 02150460679 | Developed by
    <a href="https://www.linkedin.com/in/danilo-pichilli-18a7a1268">
      Danilo Pichilli</a
    >
  </p>
</div>
